
<ion-content>
  <h1>Hello World</h1>
  <!--<div class="list">

    <select ng-model="bloodRequirement.bloodRequestData.bloodGroup" required>
      <option value="" disabled selected hidden>Blood Group</option>
      <option ng-repeat="bloodGroup in bloodRequirement.bloodGroup">{{bloodGroup}}</option>
    </select>
    <label class="item item-input">
      <input type="text" placeholder="No of units required" ng-model="bloodRequirement.bloodRequestData.units" required>
    </label>
    <select ng-model="bloodRequirement.bloodRequestData.urgency" required>
      <option value="" disabled selected hidden>Urgency</option>
      <option ng-repeat="bloodUrgency in bloodRequirement.bloodUrgency">{{bloodUrgency}}</option>
    </select>
    &lt;!&ndash;<select ng-model="bloodRequirement" required>
      <option value="" disabled selected hidden>Country</option>
      <option ng-repeat="bloodRequirement"></option>
    </select>
    <select ng-model="bloodRequirement" required>
      <option value="" disabled selected hidden>State</option>
      <option ng-repeat="bloodRequirement"></option>
    </select>
    <select ng-model="bloodRequirement" required>
      <option value="" disabled selected hidden>City</option>
      <option ng-repeat="bloodRequirement"></option>
    </select>&ndash;&gt;
    <select ng-model="bloodRequirement.bloodRequestData.hospital" required>
      <option value="" disabled selected hidden>Hospital</option>
      <option ng-repeat="hospitals in bloodRequirement.hospitals">{{hospitals}}</option>
    </select>
    <select ng-model="bloodRequirement.bloodRequestData.relation" required>
      <option value="" disabled selected hidden>Your relation with patient</option>
      <option ng-repeat="relations in bloodRequirement.relations">{{relations}}</option>
    </select>
    <label class="item item-input">
      <input type="number" placeholder="Contact No" ng-model="bloodRequirement.bloodRequestData.contact" required>
    </label>
    <label class="item item-input">
      <textarea placeholder="Additional Instruction" ng-model="bloodRequirement.bloodRequestData.additional"></textarea>
    </label>
    <button class="button button-block button-positive" ng-click="bloodRequirement.postBloodRequest()">
      Post
    </button>
  </div>-->

</ion-content>
